.container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.table-responsive {
    max-height: 75vh;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #9E9E9E;
}

.table td,
.table th {
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}