.form {
    max-width: 75vw;
}

.table-responsive,
#formFilter {
    max-height: 75vh;
    overflow-y: auto;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #9E9E9E;
}

.table td,
.table th {
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}