@font-face {
  font-family: TwemojiMozilla;
  src: url("fonts/TwemojiMozilla.ttf") format("truetype");
}

@keyframes rainbow {

  0%,
  100% {
    color: #00800080;
  }

  10% {
    color: #000000bf;
  }

  20% {
    color: #ff000080;
  }

  30% {
    color: #80ffff80;
  }

  40% {
    color: #00ff0080;
  }

  50% {
    color: #ff008080;
  }

  60% {
    color: #8000ff80;
  }

  70% {
    color: #ff800080;
  }

  80% {
    color: #ffff0080;
  }

  90% {
    color: #0080ff80;
  }
}

* {
  outline: none !important;
}

::selection {
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
}

::-webkit-scrollbar {
  background: transparent;
  box-shadow: inset 1px 0 var(--bs-gray-300);
}

.table-responsive::-webkit-scrollbar {
  box-shadow: inset 0 1px var(--bs-gray-300);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, .25);
  border-radius: 100px;
  border-color: transparent;
  border-style: solid;
  border-width: thick;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, .5);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(128, 128, 128);
  border-width: initial;
}

body {
  height: 100vh;
}

.main {
  overflow-y: scroll;
  height: -webkit-fill-available;
}

#titleBar {
  z-index: 100;
}

.sticky-top {
  z-index: 10;
}

.form-group {
  margin-bottom: 1rem;
}

.input-group .form-control.is-invalid,
.input-group .form-select.is-invalid,
.was-validated .input-group .form-control:invalid,
.was-validated .input-group .form-select:invalid {
  z-index: auto;
}

label {
  margin-bottom: .75rem;
  user-select: none;
}

label:last-child {
  margin-bottom: 0;
}

.form-control[readonly]:enabled {
  background-color: initial;
}

.ts-input.required:not(.focus, .full),
input:required:not(:valid, :focus, .mdc-text-field__input) {
  background-color: beige;
}

input {
  cursor: text;
}

textarea {
  resize: none;
}

.drag-area {
  flex: 1;
  -webkit-app-region: drag;
}

.window-action {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.2rem;
  transition: var(--transition);
}

.window-action--red:hover {
  background-color: var(--mdc-theme-error);
  color: var(--mdc-theme-on-error);
}

.window-action svg {
  fill: currentColor;
}

svg.maximize {
  border: 1px solid currentColor;
  width: 10px;
  height: 10px;
}

svg.restore path {
  d: path("m 2 0.00001 l 0 2 l -2 0 l 0 8 l 8 0 l 0 -2 l 2 0 l 0 -8 Z m 1 1 l 6 0 l 0 6 l -1 0 l 0 -5 l -5 0 Z m -2 2 l 6 0 l 0 6 l -6 0 Z");
}

#buttonDrawer {
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
}

#buttonDrawer:active>.mdi {
  transform: scale(0.75);
}

#buttonDrawer>.mdi {
  transition: var(--transition);
}

.flex {
  display: flex;
}

.table {
  margin: 0;
  width: max-content;
}

.table-responsive {
  max-width: 74vw;
  min-height: 6rem;
}

tbody>tr {
  text-shadow: 0 0;
  transition: filter var(--transition);
  box-shadow: inset 0 -1px #000, inset 0 1px #000;
}

tbody>tr:last-child {
  box-shadow: inset 0 1px #000;
}

tbody>tr:first-child {
  box-shadow: inset 0 -1px #000;
}

tbody>tr:first-child:last-child {
  box-shadow: none;
}

tbody>tr.selected,
tbody>tr.selected:first-child:last-child {
  box-shadow: inset 0 0 0 4px #fff;
}

tbody>tr>td {
  /* transition: inherit; */
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tbody>tr>td:not(:first-child) {
  box-shadow: inset 2px 0 #000 !important;
}

tbody>tr.selected>td {
  box-shadow: 3px 0 #fff, -1px 0 #fff !important;
}

tbody>tr>td.found {
  text-shadow: 0 0 20px currentColor;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

th {
  background-color: var(--bs-light) !important;
  cursor: pointer;
  transition: opacity var(--transition);
  user-select: none;
}

th:active {
  cursor: grabbing;
}

#casesPanel>.mdc-card {
  max-height: 100%;
}

.table th {
  position: sticky;
  top: 0;
}

.table th:not(:first-child) {
  box-shadow: inset 2px 0 var(--bs-gray-500);
}

.list-group>th {
  cursor: grab;
  padding: .75rem 1.25rem;
}

.list-group>th:not(:first-child) {
  border-top: 2px solid var(--bs-gray-500);
}

.list-group>th:active {
  cursor: grabbing;
}

.list-group>th:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group>th:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.list-group>th .mdi {
  display: none;
}

.list-group-flush:not(:empty) {
  border-radius: .5rem;
  border: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item {
  min-height: 52px;
  transition: var(--transition);
  transition-property: color, background-color, border-color;
}

.list-group-item b,
.list-group-item small {
  cursor: text;
  user-select: text;
}

.list-group-item.active {
  cursor: default;
  pointer-events: none;
}

.list-group-item.active>* {
  pointer-events: initial;
}

.list-group-item.active .mdc-button--red {
  color: inherit;
}

.list-group-item.sticky-top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group-item.sticky-top+.list-group {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#tableColumnsList {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .5));
}

#tableOverlay {
  width: 100%;
  height: calc(100% - 8.6rem);
  bottom: 0;
  position: absolute;
  place-self: center;
  place-content: center;
  border-radius: inherit;
  backdrop-filter: blur(10px) grayscale(1);
  background-color: #ffffffbf;
  color: var(--mdc-theme-text-disabled-on-background);
  transition: var(--transition);
  z-index: 1;
}

#tableOverlay.hide {
  user-select: none;
  pointer-events: none;
  opacity: 0;
}

#tableOverlay.show-headers {
  height: calc(100% - 11rem);
}

#tableOverlay>* {
  margin: 0 auto;
  user-select: none;
}

#tableOverlay>.mdi {
  font-size: 5rem !important;
}

#tableOverlay>.mdi-loading {
  animation: rainbow 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

#tableOverlay>.mdi-loading::before {
  transition: none;
}

#toolsPanel>.mdc-card:first-child {
  margin-bottom: 1rem;
}

.mdc-list-item>.mdi,
.modal-header>.mdi {
  font-size: 1.25rem;
}

.modal-header .mdc-select__dropdown-icon {
  margin-right: .25rem;
}

.modal-title {
  line-height: 1;
}

.modal-body {
  max-height: 60vh;
  overflow: auto;
  transition: var(--transition);
  will-change: contents;
}

.modal-body>*:first-child {
  margin-top: 0;
}

form {
  overflow: auto;
}

form#editCase {
  line-height: normal;
  height: inherit;
}

form#filter {
  max-width: 20.5rem;
}

#filter .col-md-12 {
  height: 4rem;
  transition: var(--transition);
}

#filter .collapsed>.col-md-12,
#filter .col-md-12.collapsed {
  height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.modal-body.collapsed:not(#filter),
form#filter.hide {
  max-height: 0vh;
  padding: 0 !important;
  opacity: 0;
}

.modal-header {
  z-index: 2;
}

.modal-header,
.modal-footer {
  align-items: stretch;
  flex-wrap: nowrap;
}

.modal-footer>* {
  margin: 0;
}

@media (max-width: 1409px) {
  #toolsPanel .modal-footer {
    flex-direction: column;
  }

  #toolsPanel .modal-footer>*:first-child {
    margin-bottom: .5rem;
  }
}

.form {
  max-height: 80vh;
  max-width: 75vw;
  margin: auto;
}

#currentCaseID {
  font-size: initial;
}

form#editCase>.flex-column {
  min-width: 22rem;
}

form#editCase>.flex-column:first-child {
  margin-right: 1rem;
  max-width: 22rem;
}

form#editCase>.flex-column:last-child {
  margin-left: 1rem;
}

.flex-row>label {
  width: -webkit-fill-available;
}

.flex-row>label:first-child {
  margin-right: .25rem;
}

.flex-row>label:last-child {
  margin-left: .25rem;
}

.button--add_select_item {
  border-left: solid 1px var(--mdc-theme-text-icon-on-background);
}

footer>.status {
  display: flex;
  flex: 1;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
  font-weight: bold;
  user-select: none;
  transition: var(--transition);
  cursor: pointer;
}

tbody.dimmed tr:not(.not-dimmed),
footer.dimmed>.status:not(:hover, .selected),
footer:hover>.status:not(:hover, .selected) {
  filter: grayscale(1) opacity(.25);
}

footer>.status:active {
  font-size: 0.5vw;
  text-shadow: 0 0 20px currentColor;
}

footer>.status.selected {
  box-shadow: inset 0 0 0 0.2rem #000;
}

#dialogUpdate label {
  width: 8rem;
}

#dialogLogin {
  backdrop-filter: blur(15px);
}

#inlineEdit {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--transition);
  z-index: 2;
}

#inlineEdit.show {
  pointer-events: auto;
  opacity: 1;
}

#inlineEdit .mdc-text-field {
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: var(--mdc-shape-small, 4px);
  padding-left: max(8px, calc(var(--mdc-shape-small, 4px) + 4px));
}

#inlineEdit .mdc-text-field input {
  font-weight: bold;
}

#foundCasesLinks {
  max-width: 50vw;
  overflow: auto;
  display: block;
  white-space: nowrap;
}

#foundCasesLinks::-webkit-scrollbar {
  box-shadow: inset 0 0 var(--bs-gray-300);
}

/*#region [data-status] */

[data-status="sentDocs"] {
  background-color: #00800080;
}

[data-status="sentDocs"] i {
  color: #00800080;
}

[data-status="invoiced"] {
  background-color: #000000bf;
  color: var(--mdc-theme-on-primary);
}

[data-status="invoiced"] i {
  color: #000000bf;
}

[data-status="dropped"] {
  background-color: #ff000080;
}

[data-status="dropped"] i {
  color: #ff000080;
}

[data-status="gop"] {
  background-color: #80ffff80;
}

[data-status="gop"] i {
  color: #80ffff80;
}

[data-status="payIssued"] {
  background-color: #00ff0080;
}

[data-status="payIssued"] i {
  color: #00ff0080;
}

[data-status="payReceived"] {
  background-color: #ff008080;
}

[data-status="payReceived"] i {
  color: #ff008080;
}

[data-status="multi"] {
  background-color: #8000ff80;
}

[data-status="multi"] i {
  color: #8000ff80;
}

[data-status="payNclaim"] {
  background-color: #ff800080;
}

[data-status="payNclaim"] i {
  color: #ff800080;
}

[data-status="active"] {
  background-color: #ffff0080;
}

[data-status="active"] i {
  color: #ffff0080;
}

[data-status="receivedDocs"] {
  background-color: #0080ff80;
}

[data-status="receivedDocs"] i {
  color: #0080ff80;
}

/*#endregion*/

/*#region SortableJS */

.sortable-ghost {
  opacity: 0;
}

/*#endregion*/

/*#region Tom Select */

.ts-input.disabled {
  opacity: 1;
}

.ts-control:not(.form-select).single .ts-input {
  padding: 0 .5rem;
}

.ts-dropdown-content {
  padding: 0;
}

.ts-input .item,
.ts-dropdown .option {
  text-shadow: 0 0;
}

.ts-dropdown .option {
  padding: 0.2rem .5rem;
}

#country,
#country+.ts-control>.ts-input .item,
#country-ts-dropdown .option {
  font-family: TwemojiMozilla, var(--mdc-typography-font-family, Roboto, sans-serif);
}

/*#endregion*/

/*#region Material Elements */

:root {
  --mdc-theme-primary: var(--bs-blue);
  --mdc-theme-secondary: var(--bs-red);
  --mdc-ripple-color: currentColor;
  --transition: .15s cubic-bezier(0.4, 0, 0.2, 1);
  --mdc-ripple-focus-opacity: 0;
  --mdc-ripple-hover-opacity: .1;
}

.mdi {
  font-size: 1.5rem;
  line-height: 1;
  height: auto;
}

.mdc-tab--active {
  -webkit-app-region: drag;
}

.mdc-tab__text-label {
  font-weight: bold;
  user-select: none;
}

.input-group-text .mdi {
  font-size: 1rem;
}

.mdc-ripple-surface:hover::before,
.mdc-ripple-surface.mdc-ripple-surface--hover::before,
.mdc-button:hover .mdc-button__ripple::before,
.mdc-button.mdc-ripple-surface--hover .mdc-button__ripple::before,
:not(.mdc-list-item--disabled).mdc-list-item:hover .mdc-list-item__ripple::before,
:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-surface--hover .mdc-list-item__ripple::before,
.mdc-tab:hover .mdc-tab__ripple::before,
.mdc-tab.mdc-ripple-surface--hover .mdc-tab__ripple::before,
:not(.mdc-deprecated-list-item--disabled).mdc-deprecated-list-item--activated.mdc-ripple-upgraded--background-focused .mdc-deprecated-list-item__ripple::before,
:not(.mdc-deprecated-list-item--disabled).mdc-deprecated-list-item--activated:not(.mdc-ripple-upgraded):focus .mdc-deprecated-list-item__ripple::before {
  opacity: var(--mdc-ripple-hover-opacity);
}

.mdc-ripple-surface::before,
.mdc-button__ripple::before,
.mdc-list-item__ripple::before,
.mdc-fab__ripple::before,
.mdi:not(.list-group-item .mdi):before,
.mdc-dialog__content .mdi::before,
.mdc-select__dropdown-icon.mdi::before,
.mdc-tab .mdc-tab__ripple::before,
.mdc-tab__icon,
.mdc-tab__text-label,
.mdc-deprecated-list-item__ripple::before {
  transition: var(--transition) !important;
}

.mdi-spin:before {
  animation: mdi-spin .5s infinite linear;
}

.mdc-icon-button {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  align-self: center;
  margin-left: 0;
  margin-right: 0.25rem;
  width: auto;
}

.mdc-icon-button__ripple::before,
.mdc-dialog__title::before {
  display: none;
}

.mdc-ripple-surface::before,
.mdc-ripple-surface::after {
  background-color: currentColor;
}

.mdc-drawer__title,
.mdc-drawer__subtitle {
  user-select: none;
}

th .mdi {
  margin-left: .5rem;
  float: right;
}

th .mdi.mdi-unfold-more-horizontal::before {
  opacity: .5;
  transform: scale(.75);
}

.mdc-ripple-surface {
  cursor: pointer;
  user-select: none;
}

.mdc-button--outlined:enabled .mdc-button__ripple {
  border-color: var(--mdc-theme-primary);
}

.mdc-button__label {
  line-height: normal;
}

.mdc-snackbar__surface {
  min-width: auto;
}

.mdc-snackbar {
  bottom: 4vh;
  user-select: none;
}

.mdc-snackbar,
.mdc-dialog {
  z-index: 20;
}

.mdc-dialog .mdc-dialog__surface {
  max-width: 100vw;
}

.mdc-dialog__title,
.mdc-dialog__content {
  display: flex;
  line-height: normal;
  align-items: center;
  padding: 1rem !important;
  user-select: none;
}

.mdc-dialog__title {
  border-bottom: 1px solid;
  margin-bottom: 0;
}

.mdc-dialog__title,
.mdc-dialog__actions {
  border-color: rgba(0, 0, 0, .12);
}

.mdc-dialog__button {
  flex: 1;
}

.mdc-dialog .mdc-dialog__content {
  font-weight: bold;
}

.mdc-dialog .mdc-dialog__content>.mdi {
  font-size: 0;
}

.mdc-dialog--open .mdc-dialog__content>.mdi {
  font-size: 2rem;
}

.mdc-dialog__title .mdc-button--outlined {
  font-size: inherit;
  user-select: all;
  padding: 0 5px;
}

.mdc-dialog__title .mdc-button--outlined .mdc-button__icon {
  font-size: inherit;
  height: auto;
  width: auto;
  margin: 0;
}

.mdc-button--green {
  --mdc-theme-primary: var(--bs-green);
  --mdc-theme-secondary: var(--bs-green);
}

.mdc-button--red {
  --mdc-theme-primary: var(--bs-red);
  --mdc-theme-secondary: var(--bs-red);
}

.mdc-menu-surface {
  transition: var(--transition);
  width: max-content;
}

.mdc-list {
  padding-top: 0;
  padding-bottom: 0;
}

.mdc-list>.mdc-list-item {
  cursor: auto;
}

.mdc-menu>.mdc-list>.mdc-list-item {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
  height: 2rem;
  padding: 0 .5rem;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.mdc-list-item>.mdi-trash-can {
  color: var(--bs-red);
}

.mdc-list-item__text {
  white-space: nowrap;
}

.mdc-deprecated-list-item__text {
  font-weight: bold;
  color: rgb(0 0 0 / 60%);
}

.mdc-drawer .mdc-deprecated-list-item--activated,
.mdc-drawer .mdc-deprecated-list-item--activated>.mdc-deprecated-list-item__graphic,
.mdc-drawer .mdc-deprecated-list-item--activated>.mdc-deprecated-list-item__text {
  color: var(--mdc-theme-primary);
}

.mdc-card__actions {
  border-top: 1px solid rgba(0, 0, 0, .38);
}

form .mdc-text-field {
  transition: .25s cubic-bezier(0.4, 0, 0.2, 1);
}

.mdc-text-field__input {
  text-shadow: 0 0;
}

.mdc-text-field--outlined .mdc-text-field__input {
  height: inherit;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: inherit;
}

.mdc-text-field__icon--trailing {
  margin-left: .5rem;
  margin-right: 1rem;
}

.mdc-text-field--disabled .mdc-text-field__icon--trailing,
:disabled .mdi,
.mdi-eye-off-outline {
  color: rgba(0, 0, 0, .3);
}

.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
  transition: border-color var(--transition)
}

.mdc-text-field .mdc-floating-label {
  user-select: none;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-select__dropdown-icon {
  color: var(--mdc-theme-primary);
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdi {
  color: var(--mdc-theme-error);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-select__dropdown-icon::before {
  transform: rotate(180deg);
}

.mdc-text-field--focused+.mdc-text-field-helper-line .mdc-text-field-helper-text:not(.mdc-text-field-helper-text--persistent) {
  opacity: 1;
}

button#clearSearch:disabled>.mdi::before {
  opacity: 0;
  transform: rotate(180deg);
}

/*#endregion*/

.avatar {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
}

.avatar.big {
  height: 17.5rem;
  width: 17.5rem;
  font-size: 17.5rem;
}