@font-face {
  font-family: TwemojiMozilla;
  src: url("fonts/TwemojiMozilla.ttf") format("truetype");
}

@keyframes rainbow {

  0%,
  100% {
    color: #00800080;
  }

  10% {
    color: #000000bf;
  }

  20% {
    color: #ff000080;
  }

  30% {
    color: #80ffff80;
  }

  40% {
    color: #00ff0080;
  }

  50% {
    color: #ff008080;
  }

  60% {
    color: #8000ff80;
  }

  70% {
    color: #ff800080;
  }

  80% {
    color: #ffff0080;
  }

  90% {
    color: #0080ff80;
  }
}

* {
  outline: none !important;
}

::selection {
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
}

::-webkit-scrollbar {
  background: transparent;
  box-shadow: inset 1px 0 var(--bs-gray-300);
}

.table-responsive::-webkit-scrollbar {
  box-shadow: inset 0 0 0 1px var(--bs-gray-300);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, .25);
  border-radius: 100px;
  border-color: transparent;
  border-style: solid;
  border-width: thick;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, .5);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(128, 128, 128);
  border-width: initial;
}

body {
  height: 100vh;
}

#titleBar {
  display: flex;
  z-index: 100;
}

.form-group {
  margin-bottom: 1rem;
}

.input-group .btn {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}

.input-group .form-control.is-invalid,
.input-group .form-select.is-invalid,
.was-validated .input-group .form-control:invalid,
.was-validated .input-group .form-select:invalid {
  z-index: auto;
}

.input-group-text .iconify,
.helper-text>.iconify {
  width: 1rem;
  height: 1rem;
}

.form-control[readonly]:enabled {
  background-color: initial;
}

.ts-wrapper.required:not(.focus, .has-items)>.ts-control,
select:required:not(:valid, :focus),
input:required:not(:valid, :focus, .mdc-text-field__input) {
  background-color: beige;
}

textarea {
  resize: none;
}

.rot-180 {
  transform: rotate(180deg);
}

.drag-area {
  flex: 1;
  -webkit-app-region: drag;
}

.button-rectangle {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  background: none;
  border: 0;
}

.button-rectangle--red {
  transition: var(--transition);
}

.button-rectangle--red:hover {
  background-color: var(--mdc-theme-error);
  color: var(--mdc-theme-on-error);
}

@keyframes rotate-in {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: none;
  }
}

#buttonDrawer .iconify {
  animation: rotate-in .15s cubic-bezier(0.4, 0, 0.2, 1) 1 both;
}

#buttonDrawer .iconify[data-icon="ic:round-menu"] {
  animation-direction: reverse;
}

#buttonDrawer .iconify[data-icon="ic:round-arrow-back"] {
  animation-direction: normal;
}

#buttonDrawer,
#closeDocuments {
  padding: 0.25rem 0.75rem;
}

#buttonDrawer .iconify,
#closeDocuments .iconify,
.mdc-deprecated-list--dense .mdc-deprecated-list-item__graphic,
.list-group-item .iconify:not(.avatar, .mdc-button__icon, .helper-text>.iconify),
.mdc-text-field__icon,
th .iconify {
  min-width: 1.5rem;
  min-height: 1.5rem;
  height: auto;
}

.hide {
  padding: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  border: 0;
  user-select: none !important;
  pointer-events: none !important;
  overflow: hidden;
}

.hide:not(.overlay, .modal-body) {
  max-height: 0 !important;
  min-height: 0 !important;
  height: 0 !important;
}

.table {
  margin: 0;
  min-width: max-content;
}

.table-responsive {
  min-height: 6.1rem;
}

tbody>tr {
  text-shadow: 0 0;
  transition: filter var(--transition);
  box-shadow: inset 0 -1px #000, inset 0 1px #000;
}

tbody>tr:last-child {
  box-shadow: inset 0 1px #000;
}

tbody>tr:first-child {
  box-shadow: inset 0 -1px #000;
}

tbody>tr:first-child:last-child {
  box-shadow: none;
}

#cases>tbody>tr.selected,
#cases>tbody>tr.selected:first-child:last-child {
  box-shadow: inset 0 0 0 4px #fff;
}

tbody>tr.selected,
tbody>tr.selected:first-child:last-child {
  box-shadow: inset 0 0 0 4px var(--mdc-theme-primary);
}

tbody[data-dim-status="sentDocs"]>tr:not([data-status="sentDocs"]),
tbody[data-dim-status="invoiced"]>tr:not([data-status="invoiced"]),
tbody[data-dim-status="dropped"]>tr:not([data-status="dropped"]),
tbody[data-dim-status="gop"]>tr:not([data-status="gop"]),
tbody[data-dim-status="payIssued"]>tr:not([data-status="payIssued"]),
tbody[data-dim-status="payReceived"]>tr:not([data-status="payReceived"]),
tbody[data-dim-status="multi"]>tr:not([data-status="multi"]),
tbody[data-dim-status="payNclaim"]>tr:not([data-status="payNclaim"]),
tbody[data-dim-status="active"]>tr:not([data-status="active"]),
tbody[data-dim-status="receivedDocs"]>tr:not([data-status="receivedDocs"]) {
  filter: grayscale(1) opacity(.25);
}

tbody[data-dim-status="sentDocs"]>tr:not([data-status="sentDocs"])>td,
tbody[data-dim-status="invoiced"]>tr:not([data-status="invoiced"])>td,
tbody[data-dim-status="dropped"]>tr:not([data-status="dropped"])>td,
tbody[data-dim-status="gop"]>tr:not([data-status="gop"])>td,
tbody[data-dim-status="payIssued"]>tr:not([data-status="payIssued"])>td,
tbody[data-dim-status="payReceived"]>tr:not([data-status="payReceived"])>td,
tbody[data-dim-status="multi"]>tr:not([data-status="multi"])>td,
tbody[data-dim-status="payNclaim"]>tr:not([data-status="payNclaim"])>td,
tbody[data-dim-status="active"]>tr:not([data-status="active"])>td,
tbody[data-dim-status="receivedDocs"]>tr:not([data-status="receivedDocs"])>td {
  border-color: rgb(0 0 0 / 25%);
}

tbody>tr>td {
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tbody>tr>td:not(:first-child) {
  border-left: 2px solid #000;
  box-shadow: inset 1px 0 transparent, inset -1px 0 transparent;
}

#cases>tbody>tr.selected>td {
  border-color: #fff;
  box-shadow: inset 1px 0 #fff, inset -1px 0 #fff;
}

tbody>tr.selected>td {
  border-color: var(--mdc-theme-primary);
  box-shadow: inset 1px 0 var(--mdc-theme-primary), inset -1px 0 var(--mdc-theme-primary);
}

tbody>tr>td.found {
  text-shadow: 0 0 20px currentColor;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

th {
  background-color: var(--bs-light) !important;
  cursor: pointer;
  transition: opacity var(--transition);
  user-select: none;
}

th:active {
  cursor: grabbing;
}

.table th {
  position: sticky;
  top: 0;
}

.table th:not(:first-child) {
  border-left: 2px solid var(--bs-gray-500);
}

th>label {
  cursor: inherit;
}

.helper-text {
  display: flex;
  align-items: center;
  height: 1rem;
  max-height: 1rem;
  overflow: hidden;
  opacity: .75;
  transition: var(--transition);
}

.helper-text>.iconify {
  margin-right: .25rem;
}

.list-group {
  border-radius: var(--mdc-shape-medium, .5rem);
}

.list-group:empty {
  display: none;
}

.list-group-flush:not(:empty) {
  border-left: 0;
  border-right: 0;
}

.sub-list-group {
  height: 5rem;
  width: 94%;
  overflow: hidden;
  will-change: height;
  transition: var(--transition);
}

.sub-list-group.collapsed {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 0;
  border: 0;
  opacity: 0;
}

.list-group-item {
  min-height: 52px;
  transition: var(--transition);
  transition-property: color, background-color, border-color;
}

.list-group-item.active {
  cursor: default;
  pointer-events: none;
}

.list-group-item+.list-group-item.active {
  margin-top: auto;
  border-top-width: 0;
}

.list-group-item.active>*:enabled {
  pointer-events: initial;
}

.list-group-item.active .mdc-button--red {
  color: inherit;
}

.list-group-item.active>:disabled .iconify {
  color: #fff;
}

.list-group-flush.list-group-item {
  border-top-right-radius: var(--mdc-shape-medium, .5rem);
  border-top-left-radius: var(--mdc-shape-medium, .5rem);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group-flush.list-group-item+.list-group {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item b,
.list-group-item small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

#addressList>.list-group-item b,
#hotelsList>.list-group-item b,
#countriesList>.list-group-item b {
  pointer-events: auto;
  cursor: text;
}

#addressList>.list-group-item b.disabled,
#hotelsList>.list-group-item b.disabled,
#countriesList>.list-group-item b.disabled {
  pointer-events: none;
  user-select: text;
}

#permissionsList .list-group-item {
  min-height: auto;
}

thead>tr {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .5));
}

.overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 3.4rem);
  min-height: 10rem;
  top: 3.4rem;
  position: absolute;
  justify-content: center;
  backdrop-filter: blur(10px) grayscale(1);
  background-color: #ffffffbf;
  color: var(--mdc-theme-text-disabled-on-background);
  border-bottom-left-radius: var(--mdc-shape-medium);
  border-bottom-right-radius: var(--mdc-shape-medium);
  transition: opacity var(--transition);
  z-index: 2;
}

.table-overlay {
  height: calc(100% - 4.3rem);
  top: auto;
  bottom: 0;
  min-height: 0;
}

.table-overlay.show-headers {
  height: calc(100% - 6.8rem);
}

.overlay>* {
  margin: 0 auto;
  user-select: none;
}

.overlay>.iconify {
  width: 5rem;
  height: 5rem;
}

.overlay>.iconify[data-icon="eos-icons:loading"] {
  animation: rainbow 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  transition: none;
}

.mdc-list-item>.iconify,
.modal-header>.iconify {
  width: 1.25rem;
  height: 1.25rem;
}

.modal-header>.dropdown-icon {
  margin-right: .25rem;
}

.modal-title {
  line-height: 1;
}

.modal-body {
  overflow: auto;
  transition: var(--transition);
  will-change: contents;
}

.modal-body>*:first-child {
  margin-top: 0;
}

#toolsPanel {
  max-width: 20.5rem;
}

form {
  overflow: auto;
}

form#editCase {
  line-height: normal;
  height: inherit;
}

label {
  user-select: none;
}

#filter .col-md-12 {
  height: 4rem;
  transition: var(--transition);
}

#filter.collapsed .collapsed>.col-md-12,
#filter.collapsed .col-md-12.collapsed {
  height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.modal-body.collapsed:not(#filter) {
  height: 0 !important;
  opacity: 0;
}

.modal-header {
  z-index: 2;
  transition: var(--transition);
}

.modal-header,
.modal-footer {
  align-items: stretch;
  flex-wrap: nowrap;
}

.modal-footer>* {
  margin: 0;
}

.my-1-5px {
  margin-top: 1.5px;
  margin-bottom: 1.5px;
}

.flex-row>label {
  width: -webkit-fill-available;
}

.flex-row>label:first-child {
  margin-right: .25rem;
}

.flex-row>label:last-child {
  margin-left: .25rem;
}

.button--add_select_item {
  border-left: solid 1px var(--mdc-theme-text-icon-on-background);
}

#statusBar {
  display: flex;
}

#statusBar>.status {
  display: flex;
  flex: 1;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
  font-weight: bold;
  user-select: none;
  transition: var(--transition);
  background-image: none;
  border: 0;
}

#statusBar.dimmed>.status:not(:hover, .selected),
#statusBar:hover>.status:not(:hover, .selected) {
  filter: grayscale(1) opacity(.25);
}

#statusBar>.status:active {
  font-size: 0.5vw;
  text-shadow: 0 0 20px currentColor;
}

#statusBar>.status.selected {
  box-shadow: inset 0 0 0 0.2rem #000;
}

#dialogUpdate label {
  width: 8rem;
}

#dialogLogin>.mdc-dialog__scrim {
  background-color: var(--mdc-theme-background);
}

#inlineEdit {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--transition);
  z-index: 2;
}

#inlineEdit.show {
  pointer-events: auto;
  opacity: 1;
}

#inlineEdit .mdc-text-field {
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: var(--mdc-shape-small, 4px);
  padding-left: max(8px, calc(var(--mdc-shape-small, 4px) + 4px));
}

#inlineEdit .mdc-text-field input {
  font-weight: bold;
}

#foundCasesLinks {
  overflow: auto;
  display: block;
  white-space: nowrap;
}

#foundCasesLinks::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  box-shadow: inset 0 0 var(--bs-gray-300);
}

/*#region [data-status] */

[data-status="sentDocs"] {
  background-color: #00800080;
}

[data-status="sentDocs"] .iconify {
  color: #00800080;
}

[data-status="invoiced"] {
  background-color: #000000bf;
  color: var(--mdc-theme-on-primary);
}

[data-status="invoiced"] .iconify {
  color: #000000bf;
}

[data-status="dropped"] {
  background-color: #ff000080;
}

[data-status="dropped"] .iconify {
  color: #ff000080;
}

[data-status="gop"] {
  background-color: #80ffff80;
}

[data-status="gop"] .iconify {
  color: #80ffff80;
}

[data-status="payIssued"] {
  background-color: #00ff0080;
}

[data-status="payIssued"] .iconify {
  color: #00ff0080;
}

[data-status="payReceived"] {
  background-color: #ff008080;
}

[data-status="payReceived"] .iconify {
  color: #ff008080;
}

[data-status="multi"] {
  background-color: #8000ff80;
}

[data-status="multi"] .iconify {
  color: #8000ff80;
}

[data-status="payNclaim"] {
  background-color: #ff800080;
}

[data-status="payNclaim"] .iconify {
  color: #ff800080;
}

[data-status="active"] {
  background-color: #ffff0080;
}

[data-status="active"] .iconify {
  color: #ffff0080;
}

[data-status="receivedDocs"] {
  background-color: #0080ff80;
}

[data-status="receivedDocs"] .iconify {
  color: #0080ff80;
}

/*#endregion*/

/*#region SortableJS */

.sortable-ghost {
  opacity: 0;
}

/*#endregion*/

/*#region Tom Select */

.disabled .ts-control {
  opacity: 1;
}

.ts-wrapper:not(.form-select).single .ts-control {
  padding: 0 .5rem;
}

.ts-dropdown-content {
  padding: 0;
}

.ts-control .item,
.ts-dropdown .option {
  text-shadow: 0 0;
}

.ts-dropdown .option {
  padding: 0.2rem .5rem;
}

#country,
#country+.ts-wrapper>.ts-control .item,
#country-ts-dropdown .option,
#countriesList>.list-group-item span {
  font-family: TwemojiMozilla, var(--mdc-typography-font-family, Roboto, sans-serif);
}

#countriesList>.list-group-item span {
  text-shadow: 0 0;
}

/*#endregion*/

/*#region Material Elements */

:root {
  --mdc-theme-primary: var(--bs-blue);
  --mdc-theme-secondary: var(--mdc-theme-primary);
  --mdc-ripple-color: currentColor;
  --transition: .15s cubic-bezier(0.4, 0, 0.2, 1);
  --mdc-ripple-hover-opacity: .1;
  --mdc-typography-button-text-transform: normal;
  --mdc-shape-medium: .5rem;
}

.mdc-card {
  max-height: 100%;
}

.mdc-tab-bar {
  transition: var(--transition);
  border-bottom: 1px solid var(--bs-gray-300);
}

.mdc-tab:not(:first-child),
#closeDocuments {
  border-left: 1px solid var(--bs-gray-300);
}

.mdc-tab--active {
  -webkit-app-region: drag;
}

.mdc-tab__text-label {
  font-weight: bold;
  user-select: none;
}

.tab-page {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: var(--transition);
}

.tab-page:not(.show) {
  pointer-events: none;
  user-select: none;
  opacity: 0;
}

.mdc-ripple-surface {
  will-change: auto;
}

.mdc-ripple-surface input[type=checkbox] {
  pointer-events: none;
}

.mdc-ripple-surface:hover::before,
.mdc-ripple-surface.mdc-ripple-surface--hover::before,
.mdc-button:hover .mdc-button__ripple::before,
.mdc-button.mdc-ripple-surface--hover .mdc-button__ripple::before,
:not(.mdc-list-item--disabled).mdc-list-item:hover .mdc-list-item__ripple::before,
:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-surface--hover .mdc-list-item__ripple::before,
.mdc-tab:hover .mdc-tab__ripple::before,
.mdc-tab.mdc-ripple-surface--hover .mdc-tab__ripple::before,
:not(.mdc-deprecated-list-item--disabled).mdc-deprecated-list-item--activated.mdc-ripple-upgraded--background-focused .mdc-deprecated-list-item__ripple::before,
:not(.mdc-deprecated-list-item--disabled).mdc-deprecated-list-item--activated:not(.mdc-ripple-upgraded):focus .mdc-deprecated-list-item__ripple::before {
  opacity: var(--mdc-ripple-hover-opacity);
}

.mdc-ripple-surface::before,
.mdc-button__ripple::before,
.mdc-list-item__ripple::before,
.mdc-fab__ripple::before,
.mdc-select__anchor .mdc-select__ripple::before,
.mdc-tab .mdc-tab__ripple::before,
.mdc-tab__icon,
.mdc-tab__text-label,
.mdc-deprecated-list-item__ripple::before {
  transition: var(--transition) !important;
}

.mdc-icon-button {
  display: flex;
  align-self: center;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0.25rem;
  width: auto;
}

.mdc-icon-button__ripple::before,
.mdc-dialog__title::before {
  display: none;
}

.mdc-ripple-surface::before,
.mdc-ripple-surface::after {
  background-color: currentColor;
}

.mdc-drawer-scrim {
  top: auto;
}

.mdc-drawer__title,
.mdc-drawer__subtitle {
  user-select: none;
}

.mdc-deprecated-list--dense .mdc-deprecated-list-item__graphic {
  margin-right: .75rem;
}

.mdc-list-item--disabled,
.mdc-deprecated-list-item--disabled,
.mdc-deprecated-list-item--activated {
  pointer-events: none;
}

.mdc-deprecated-list-item--disabled.mdc-ripple-surface::before,
.mdc-deprecated-list-item--disabled.mdc-ripple-surface::after,
.mdc-deprecated-list-item--disabled .mdc-deprecated-list-item__ripple::before,
.mdc-deprecated-list-item--disabled .mdc-deprecated-list-item__ripple::after {
  display: none;
}

.mdc-drawer .mdc-deprecated-list-item__text {
  font-weight: bold;
  color: rgb(0 0 0 / 60%);
}

.mdc-drawer .mdc-deprecated-list-item--activated,
.mdc-drawer .mdc-deprecated-list-item--activated>.mdc-deprecated-list-item__graphic,
.mdc-drawer .mdc-deprecated-list-item--activated>.mdc-deprecated-list-item__text {
  color: var(--mdc-theme-primary);
}

.mdc-list-item--disabled,
.mdc-list-item--disabled>.mdc-list-item__graphic,
.mdc-list-item--disabled>.mdc-list-item__text,
.mdc-drawer .mdc-deprecated-list-item--disabled,
.mdc-drawer .mdc-deprecated-list-item--disabled>.mdc-deprecated-list-item__graphic,
.mdc-drawer .mdc-deprecated-list-item--disabled>.mdc-deprecated-list-item__text {
  opacity: .38 !important;
  color: inherit !important;
}

th .iconify {
  margin-left: .5rem;
  float: right;
  animation-duration: .15s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 1;
}

@keyframes order-in {
  from {
    opacity: .5;
    transform: scale(.75);
  }

  to {
    opacity: 1;
    transform: rotate(180deg);
  }
}

th .iconify[data-icon="ic:round-keyboard-arrow-up"] {
  animation-name: order-in;
}

@keyframes order-out {
  from {
    opacity: 1;
    transform: rotate(180deg);
  }

  to {
    opacity: .5;
    transform: scale(.75);
  }
}

th .iconify[data-icon="ic:round-unfold-more"] {
  animation-name: order-out;
  animation-fill-mode: both;
}

.mdc-ripple-surface {
  cursor: pointer;
  user-select: none;
}

.mdc-button--outlined:enabled .mdc-button__ripple {
  border-color: var(--mdc-theme-primary);
}

.mdc-button__label {
  line-height: normal;
}

.mdc-snackbar__surface {
  min-width: auto;
}

.mdc-snackbar {
  bottom: 4vh;
  user-select: none;
}

.mdc-snackbar,
.mdc-dialog {
  z-index: 20;
}

.mdc-dialog .mdc-dialog__surface {
  max-width: 90vw;
}

.mdc-dialog__title,
.mdc-dialog__content {
  display: flex;
  line-height: normal;
  align-items: center;
  padding: 1rem !important;
  user-select: none;
}

.mdc-dialog__title {
  border-bottom: 1px solid;
  margin-bottom: 0;
}

.mdc-dialog__title,
.mdc-dialog__actions {
  border-color: rgba(0, 0, 0, .12);
}

.mdc-dialog__actions {
  overflow: hidden;
  transition: var(--transition);
}

.mdc-dialog__button {
  flex: 1;
}

.mdc-dialog .mdc-dialog__content {
  font-weight: bold;
}

.mdc-dialog .mdc-dialog__content>.iconify {
  width: 2rem;
  height: 2rem;
}

.mdc-dialog__title .mdc-button--outlined {
  font-size: inherit;
  user-select: all;
  padding: 0 5px;
}

.mdc-dialog__title .mdc-button--outlined .mdc-button__icon {
  font-size: inherit;
  height: auto;
  width: auto;
  margin: 0;
}

.mdc-button--green {
  --mdc-theme-primary: var(--bs-green);
  --mdc-theme-secondary: var(--bs-green);
}

.mdc-button--red {
  --mdc-theme-primary: var(--bs-red);
  --mdc-theme-secondary: var(--bs-red);
}

.mdc-menu-surface {
  width: max-content;
}

.mdc-list {
  padding-top: 0;
  padding-bottom: 0;
}

.mdc-list>.mdc-list-item {
  cursor: auto;
}

.mdc-menu>.mdc-list>.mdc-list-item {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
  height: 2rem;
  padding: 0 .5rem;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.mdc-list-item>.iconify[data-icon="ic:round-plus"] {
  color: var(--bs-green);
}

.mdc-list-item>.iconify[data-icon="mdi:trash-can"],
.mdc-list-item>.iconify[data-icon="ic:round-close"] {
  color: var(--bs-red);
}

.mdc-list-item__text {
  white-space: nowrap;
}

.mdc-card__actions {
  border-top: 1px solid rgba(0, 0, 0, .38);
}

.mdc-text-field:not(:last-child) {
  margin-bottom: .75rem;
}

form .mdc-text-field {
  transition: .25s cubic-bezier(0.4, 0, 0.2, 1);
}

.mdc-text-field__input {
  text-shadow: 0 0;
}

.mdc-text-field__resizer {
  resize: none;
}

.mdc-text-field--outlined .mdc-text-field__input {
  height: inherit;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: inherit;
}

.mdc-text-field__icon--trailing {
  margin-left: .5rem;
  margin-right: 1rem;
}

.mdc-text-field--disabled .mdc-text-field__icon--trailing,
:disabled .iconify,
.iconify[data-icon="ic:outline-visibility-off"] {
  color: #000;
  opacity: .3;
}

.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
  transition: border-color var(--transition)
}

.mdc-text-field .mdc-floating-label {
  user-select: none;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-select__dropdown-icon {
  color: var(--mdc-theme-primary);
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .iconify {
  color: var(--mdc-theme-error);
}

.mdc-select--filled.mdc-select--disabled>.mdc-select__anchor,
.mdc-select--disabled>.mdc-select__anchor {
  background-color: transparent;
}

.mdc-select.mdc-select--disabled .mdc-select__dropdown-icon {
  color: rgba(0, 0, 0, 0.38);
}

.mdc-select--filled:not(.mdc-select--disabled) .mdc-select__anchor {
  background-color: initial;
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__dropdown-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mdc-select:not(.mdc-select--disabled, .mdc-select--filled).mdc-select--focused .mdc-select__dropdown-icon {
  color: var(--mdc-theme-primary, #6200ee);
}

.mdc-select--activated .mdc-select__dropdown-icon {
  transform: rotate(180deg);
}

.mdc-select__anchor {
  width: auto;
}

.mdc-select__selected-text {
  user-select: none;
}

.mdc-text-field--focused+.mdc-text-field-helper-line .mdc-text-field-helper-text:not(.mdc-text-field-helper-text--persistent) {
  opacity: 1;
}

.mdc-checkbox+label {
  cursor: pointer;
}

/*#endregion*/

.iconify {
  height: auto;
  transition: transform var(--transition);
}

.avatar {
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
}

.avatar.big {
  height: 17.5rem;
  width: 17.5rem;
  font-size: 17.5rem;
}